body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #504e4e; 
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem; 
  font-family: 'Courier New', Courier, monospace;
  background-color: black; 
  color: limegreen; 
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 20px;
}

.clock span {
  margin-right: 10px;
  font-size: 3rem; 
}

.digit {
  margin: 0 5px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  margin: 0 5px; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.btn-danger:hover {
  background-color: #c82333;
}

/*body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #504e4e; 
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .clock {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem; 
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: limegreen;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 20px;
  }
  
  .clock span {
    margin-right: 10px;
    font-size: 3rem; 
  }
  
  .digit {
    margin: 0 5px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
  }
  
  .buttons button {
    margin: 0 5px; 
  }
  */